<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
  <!-- Фрагмент заголовка -->
  <meta charset="UTF-8">
  <title>Просмотр продукта</title>
</head>
<body>
<nav th:replace="fragments/navbar :: nav">
  <!-- Фрагмент навигационной панели -->
</nav>

<div class="container mt-5">
  <h1>Детали продукта</h1>
  <img th:src="@{${product.imageUrl}}" alt="Изображение продукта" class="product-detail-image"/>
  <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
  <p><strong>Название:</strong> <span th:text="${product.name}"></span></p>
  <p><strong>Описание:</strong> <span th:text="${product.description}"></span></p>
  <p><strong>Цена:</strong> <span th:text="'$' + ${product.price}"></span></p>
</div>

<footer th:replace="fragments/footer :: footer">
  <!-- Фрагмент подвала -->
</footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
